.bannerParentDiv {
          padding-top: 4em;
          margin: 0px 100px;
          
        }
     
        .bannerParentDiv .bannerChildDiv .menuBar {
          display: flex;
          padding: 10px 16px 10px 16px;
          border: 0.5px solid #ccc; /* Set border color to a light color, e.g., #ccc */
          width: 100%;
          border-style: inset;
        
       
        }
        
      
        
        .bannerParentDiv .bannerChildDiv .menuBar .categoryMenu span {
          margin-right: 16px;
          font-weight: bolder;
         
        }
        
     
        .bannerParentDiv .bannerChildDiv .menuBar .otherQuickOptions span {
          padding: 10px;
        }
        
        .bannerChildDiv .banner {
          position: relative;
          width: 80vw;
        }
        .bannerChildDiv .banner img{
          width: 70vw;
        }
        
        @media only screen and (max-width: 700px) {
          .otherQuickOptions {
            display: none;
          }
          .bannerChildDiv .banner {
            position: relative;
          }
        }