.signupParentDiv {
          border: 1px solid rgb(219, 219, 219);
          width: 350px;
          padding: 10px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 6px;
          background-color: rgba(255, 255, 255, 0.597);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.178);
        }
        .logobg{
          margin-left: 20%;
        }
        
        .signupParentDiv .input {
          border-radius: 20px;
          border-width: 0.5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          text-indent: 10px;
          width: 100%;
        }
        .home{
          text-decoration: none;
          color: black;
        }
        
        .signupParentDiv button {
          width: 100%;
          height: 48px;
          /* border-color: transparent; */
          background-color: #002f34;
          color: whitesmoke;
          font-weight: 900;
        }
        .signupParentDiv button:hover {
          background-color: white;
          color: #002f34;
          border: 2px solid #002f34;
        }
        
        .signupParentDiv a {
          display: flex;
          justify-content: center;
          cursor: pointer;
        }
        .backgroundSignup{
          background-size: contain;
          width: 100%;
        }